@model webShopping.Models.ShoppingCartVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    @if (Model.ListCart.Count()>0)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <table class="table table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Image</th>
                                <th>Name</th>
                                <th>Count</th>
                                <th style="text-align: left;">Price</th>
                                <th style="text-align: left;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListCart)
                            {
                                <tr>
                                    <td style="text-align: left;">
                                        @if (item.Product.Path == null)
                                        {
                                            <img src="~/images/image/oip.jpg" width="60px" />
                                        }
                                        else
                                        {
                                            <img src="~/files/@item.Product.Path" width="60px" height="43px" />
                                        }
                                    </td>
                                    <td>@item.Product.Name</td>
                                    <td>
                                        <div class="btn-group me-2" role="group" aria-label="Quantity">
                                            <input type="text" style="max-width:50px;  class="form-control" value="@item.Count"/>
                                            <button asp-action="Decrease" asp-route-cartId="@item.Id" class="btn btn-danger"><i class="bi bi-dash"></i></button>
                                            <button asp-action="Add" asp-route-cartId="@item.Id" class="btn btn-primary"><i class="bi bi-plus"></i></button>
                                            <button asp-action="Remove" asp-route-cartId="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        @item.Product.Price.ToString("0.00") $

                                    </td>
                                    <td style="text-align: left;">
                                        @((item.Count * item.Product.Price).ToString("0.00")) $
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td colspan="4" style="text-align:right"><strong>Total Amount =</strong></td>
                                <td style="background-color:darkred"><span style="font-size:large;color:white">@Model.OrderHeader.orderTotal.ToString("0.00") $</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                   
                    <div class="col-md-4">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-primary form-control"><i class="bi bi-house-door"></i> Home</a>
                    </div>

                    <div class="col-md-4">
                    </div>


                    <div class="col-md-4">
                     @*    @if(!Model.OrderHeader.ApplicationUser.EmailConfirmed)
                        {
                                <div>
                                    <button type="submit" class="btn btn-warning form-control text-white">Please click to confirm your email...</button>
                                </div>
                      }else{ *@
                            <a asp-action="Summary" asp-controller="Cart" class="btn btn-success form-control">Order</a>
                        
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            There are no items in your cart...
        </div>
    }

</form>
